.profile-page-container {
  margin: auto;
  overflow-y: scroll;
}

.profile-container {
  /* margin-top: 3rem;
  margin-left: 8rem; */
  display: flex;
  /* flex-direction: column; */
}

.profile-picture {
  height: auto;
  width: 200px;
  border-radius: 50%;
  padding: 4rem;
}

.profile-info-container {
  margin-top: 6rem;
}

.profile-bio-info {
  margin-bottom: 5rem;
}

.profile-dog-name {
}

.profile-human-name {
}

.profile-info-heading {
  font-size: 1.1rem;
  line-height: 1.1rem;
  margin: 0.5rem;
  color: aquamarine;
}

.age {
}

/* .location {
  border: 1px;
  border-color: aliceblue;
  border-bottom-style: solid;
  text-align: center;
} */

.personality {
}

.toys {
}

.bio {
}

.favorite-parks {
  border-top: 1px;
  border-color: aliceblue;
  border-style: solid;
  width: 80%;
  margin: auto;
  /* display: flex; */
  /* text-align: center; */
}

.fav-parks-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
}

.fav-park-li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

.li-park-img {
  height: auto;
  max-width: 400px;
}

.temptemp {
  text-align: center;
}
