.search-user-container {
  display: flex;
  justify-content: center;
}

/*! Fix font (githubs search navbar scaling effect) */
.search-user-input {
  height: 2rem;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  margin-right: 2rem;
  margin-left: 2rem;
  color: rgb(36, 36, 36);
  text-indent: 10px;
  transition: 0.15s;
}

.search-user-button {
  background-color: rgb(255, 255, 255);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.search-user-button:active {
  transform: translateY(2px);
  background-color: rgb(255, 255, 255);
}

/*! Fix font (githubs search navbar scaling effect) */
.search-user-input:focus {
  transform: scaleX(2);
}
