.search-user-container {
  display: flex;
  justify-content: center;
  transition: 0.15s;
  overflow: hidden;
}

.search-user-input {
  height: 2rem;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  margin-right: 2rem;
  margin-left: 2rem;
  color: rgb(36, 36, 36);
  text-indent: 10px;
}

.search-user-container:focus-within {
  transform: scaleX(2);
  font-size: 2rem;
}
