.login-container {
  text-align: center;
}

.intro-text {
  margin-top: 5rem;
  font-size: 1.7rem;
  font-weight: bold;
  color: white;
  padding-bottom: 2rem;
}

.login-form {
  margin: 2rem;
}

.input {
  color: white;
  box-sizing: border-box;
  border-color: rgb(248, 248, 248);
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
  margin: 0.2rem;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.4rem;
  text-indent: 0.5rem;
  margin-right: 1rem;
}

.button {
  background-color: whitesmoke;
  margin: 0.3rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 1rem;
  color: black;
}
/*? NEW MEMBER SECTION SIGN UP */
.signUp-intro {
  text-indent: 2rem;
  font-size: 1.4rem;
  text-overflow: wrap;
  margin-bottom: 5rem;
  line-height: 2rem;
}

.signUp-form {
  width: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.signUp-input {
  margin-bottom: 1rem;
  line-height: 2rem;
}

.signUp-button {
  align-self: center;
  width: 6rem;
}
