.park {
  border: 1px solid white;
  margin: 1rem;
  width: 580px;
  padding: 1rem;
}

.park-name {
  font-size: 1.2rem;
}

.park-address {
  font-size: 1rem;
}

.park-rating {
  font-weight: bold;
}
