.nav-container {
  background-color: aquamarine;
  align-items: baseline;
  margin-bottom: 11rem;
  justify-content: baseline;
  display: flex;
}

.nav-link {
  font-weight: bold;
  margin: 0;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
}

.title {
  font-size: 2.5rem;
}
.login {
  font-size: 1.5rem;
}
