.nav-container {
  background-color: aquamarine;
  height: 3.75rem;
  display: flex;
  contain: content;
  justify-content: center;
  align-items: center;
}

.nav-link {
  margin: 0;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
}

.title {
  position: fixed;
  left: 0;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.sub-item {
  font-size: 1.3rem;
  font-weight: bold;
  position: fixed;
  right: 0;
  padding: 10px;
}
