.banner-container {
  font-family: Labrada;
  background-color: aquamarine;
  border: 10px, solid, red;
}

.banner-title {
  font-size: 2.5rem;
  font-weight: bolder;
  margin: 0;
  padding: 0.5rem;
}
