.homepage-container {
  margin: auto;
  overflow-y: scroll;
}
.parks-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 50%;
  margin-top: 8rem;
}
