.signUp-container {
  text-align: center;
  background-color: aqua;
  margin: 1rem;
  animation: blin;
}

.signUp-container:hover {
}

.sign_up_form {
  background-color: red;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.signUp-intro {
  text-indent: 2rem;
  font-size: 1.4rem;
  text-overflow: wrap;
  margin-bottom: 5rem;
  line-height: 2rem;
}

.signUp-form {
  width: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
/* * Input fields */
.sign_up {
  margin-bottom: 1rem;
  line-height: 2rem;
  background-color: aliceblue;
  margin: 10px;
}

.signUp-button {
  align-self: center;
  width: 6rem;
  background-color: aliceblue;
}
